.card {
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 1rem;
  max-width: 38.4rem;
  overflow: hidden;
}

.card .body {
  display: grid;
  gap: 1.6rem;
  padding: 1.6rem;
}

.card h3 {
  color: #121214;
  font-size: 20px;
  line-height: 140%;
}

.card p {
  opacity: 0.75;
}

.location {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  opacity: 0.75;
}
