.Footer {
  padding: 24px;
  background: linear-gradient(
    135deg,
    #ffd94b,
    #f83600,
    #e45858,
    #ff7ad7,
    #496afe,
    #a08cff,
    #12fff7
  );
  background-size: 100% 150px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  margin-top: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 140%;
  gap: 10px;
}

.link {
  color: #ffffff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
