* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Roboto";
}

body {
  font-size: 1.6rem;
}

input, select, button {
  font-family: "Roboto";
  all: unset;
}